* {
	margin:0;
	padding:0;
}

body {
	background-color:black;
	color:black;
	font-family:'Redressed','Vollkorn', serif;
}

ul {
	list-style:none;
}

#navDiv {
	position:fixed;
	float:left;
	background-color:rgb(28,146,213);
	width:20%;
	height:100%;
	font-size:3em;
	text-align:center;
}

a:link{color:black; text-decoration:none; text-shadow:none}
a:visited{color:black; text-decoration:none; text-shadoe:none}
a:hover{color:rgb(28,146,213); text-decoration:none; text-shadow:none}

#navDiv ul {
	padding-top:60%;
}

#navDiv li {
	transition:background-color .5s ease;
	background-color:rgb(28,146,213);
}

#navDiv li:hover {
	background-color:#2D3033;
}

#rightBody {
	position:absolute;
	left:20%;
	float:right;
	background-color:#2D3033;
	/**color:#FFF568;**/
	color:white;
	width:80%;
}

#aboutUs {
	margin-top:20%;
	margin-bottom:35%;
	margin-left:15%;
	margin-right:15%;
	text-align:justify;
	font-size:2em;
}

#officers {
	margin-top:0%;
	margin-bottom:55%;
	margin-left:15%;
	margin-right:15%;
	font-size:1.75em;
}

#officers ul {
	display:inline-block;
}

#officers li {
	transition:.5s ease;
}

#officers li:hover {
	background-color:#6C6E70;
}

/**Officer picture transition effect**/
.officerPics {
	position:absolute;
	top:50%;
	width:45%;
	height:20%;
	box-shadow:-10px 10px 15px black;
	transition:.25s ease;
}

.officerPics:hover {
	z-index:+10;
	transform:scale(1.1,1.1);
	box-shadow:-15px 15px 15px black;
}

#prez {
	left:15%;
}

#IvPrez {
	top:50.5%;
	left:21%;
}

#EvPrez {
	top:51%;
	left:27%;
}

#secretary {
	top:51.5%;
	left:33%;
}

#treasurer {
	top:52%;
	left:39%;
}

#contactUs {
	margin-bottom:35%;
	margin-left:15%;
	margin-right:15%;
}
